/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
	font-family: Arial, sans-serif;
	background-color: #3b6;
}

/* Page Layout */
.section{
	text-align: center;
	background-size: cover;
}

/* Page Backgrounds */
#section0 {
	background-image: url(../img/background01.jpg);
}
#section1 {
	background-image: url(../img/background02.jpg);
}
#section2 {
	/*background-image: url(../img/background01.jpg);*/
	padding: 6% 0 0 0;
}
#section3 {
	background-image: url(../img/background02.jpg);
	padding: 6% 0 0 0;
}
#section4 {
	background-image: url(../img/background01.jpg);
	padding: 6% 0 0 0;
}

/* Font */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	font-family: 'Oswald', sans-serif;
	padding: 0px;
	color: #fff;
}

/* Intro Page */
.intro {
	margin: auto 0;
}
.intro img{
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
	border: 5px solid #fff;
	padding: 5px;
	cursor: pointer;
}
.intro img:hover{
	margin-top: 0px;
	margin-bottom: 0px;
	border: 10px solid #936;
}

/* Image blur */
.blur {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
      -ms-transition: all 1s ease;
       -o-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur:hover {
	-webkit-filter: blur(5px);
	   -moz-filter: blur(5px);
	    -ms-filter: blur(5px);
	     -o-filter: blur(5px);
	        filter: blur(5px);
}